body
{
  margin: 0;
  padding: 0;
  max-width: 60em;
}

@media screen and (min-width: 60em)
{
  body
  {
    margin: auto;
  }
  body > menu,
  body > main
  {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
}

body > menu
{
  background-color: white;
  margin: 0;
  padding: 1em 2em;
}
body > menu p
{
  margin: 0;
}

body > main
{
  margin: 0;
  padding: 0.5em 2em;
  background-color: #eee;

  border-top:    solid #ccc 1px;
  border-bottom: solid #ccc 1px;
}

body > footer
{
  margin: 0;
  padding: 5em 0 5em;
  font-size: 0.7em;
  color: #ccc;
  text-align: center;
}
body > footer a
{
  color: #aaa;
}
